.sides{
	/*height:100vh;*/
	border-radius: 20px;
	background-color: #000000;
	color: white;
	z-index:1;
}
.craneDot{
	font-size:50px;
	color: #038dff;
}
.craneDotBig{
	font-size:50px;
	color: #038dff;
}
.craneBg{
	font-size:200px;
	color: #ffffff;
}
ul {
	list-style: none;
	padding: 0;
}
li {
	padding: 10px;
	font-size: 20px;

}
li:hover,li.selected {
	text-decoration: underline;
	color: #038dff; /* Change the color to blue */
	cursor: pointer;
}
.joinBtn{
	background-color: #038dff;
	color: #FFFFFF;
	font-size: 25px;
	font-weight: 500;
	width: 100%;
}
.lang{
	border: 1px white solid;
	font-size: 18px;
	padding: 10px
}
.socialMediaIcon{
	fill: white;
	height: 30px;
}
.rightContentBg {
	position: absolute;
	bottom: 17px;
	left: 13px;
	width: 95%;
	height: 45%;
	background-image: url(img/bg_bg.png);
	background-size: cover;
	background-position: center;
	z-index: 0;
}
.rightContentDivs {
	padding: 20px; /* Add padding to keep text away from edges */
	z-index: 1; /* Bring the text content to the front */
}